<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISDBlab3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ISDBlab3.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value>1234</value>
            </setting>
        </ISDBlab3.Properties.Settings>
    </userSettings>
</configuration>